*{
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    background-image: linear-gradient(315deg,rgb(230, 250, 156)0%,rgb(155, 245, 160)100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.quiz-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
}

.quiz-header{
    padding: 4rem;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: blue;
    color: black;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1.3rem;
}

button:hover{
    background-color: aqua;
}

button:focus{
    outline: none;
    background-color: blueviolet;
}